<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <label for="name">Name </label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <label for="year_born">Year born </label>
        <input type="text" th:field="*{yearBorn}" id="year_born">
        <hr>
        <button type="submit">Create</button>
    </form>
</body>
</html>