<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}"></title>
</head>
<body>
    <p th:text="${person.getPersonId()}"></p>
    <p th:text="${person.getName()}"></p>
    <p th:text="${person.getYearBorn()}"></p>
    <hr>
    <form th:action="@{/people/{id}/edit (id = ${person.getPersonId()})}">
        <button type="submit">Edit</button>
    </form>
    <br>
    <form th:method="DELETE" th:action="@{/people/{id} (id = ${person.getPersonId()})}">
        <button type="submit">Delete</button>
    </form>
    <hr>
    <p>Book List</p>
</body>
</html>