<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
</head>
<body>

<h2>Search book</h2>

<form method="get" th:action="@{/book/search}" th:object="${book}">
    <label for="search-input">Введите поисковый запрос: </label>
    <input type="text" th:field="*{title}" id="search-input">
    <hr>
    <button type="submit">Найти</button>
</form>

<div th:unless="${books.isEmpty()}">
    <div th:each="book : ${books}">
        <p th:style="${book.isBookOverdue()} ? 'color: red' : 'color: black'"
           th:text="${book.getTitle()} + ', ' +  ${book.getAuthor()} + ', '+${book.getYear()}"/>
        <span th:if="${book.getPerson() != null}" th:text="'Книга сейчас у: ' + ${book.getPerson().getFullName()}"/>
        <span th:if="${book.getPerson() == null}">Книга свободна</span>
        <hr>
    </div>
</div>
<p th:if="${books.isEmpty()}">Книг не найдено</p>

</body>
</html>