<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()}"></title>
</head>
<body>

<p th:text="${book.getName()} + ' ' + ${book.getAuthor()} + ' ' + ${book.getYear()}"></p>
<hr>

<form th:if="${book.isFree() == false}" th:method="PATCH"
      th:action="@{/book/{id}/return_book (id = ${book.getBookId()})}">
    <p th:text="${personBook.getName()} + ' has book'"/>
    <input type="submit" value="Clear Person">
</form>

<form th:if="${book.isFree() == true}" th:method="PATCH" th:action="@{/book/{id}/give_book (id = ${book.getBookId()})}"
      th:object="${book}">
    <p>Free book</p>
    <label for="personList">Choose person </label>
    <select th:object="${book}" th:field="*{personId}" id="personList">
        <option th:each="person : ${people}" th:value="${person.getPersonId()}" th:text="${person.getName()}"></option>
    </select>
    <input type="submit" value="Set person">
</form>

<hr>
<form th:action="@{/book/{id}/edit (id = ${book.getBookId()})}">
    <button type="submit">Edit</button>
</form>

<form th:method="DELETE" th:action="@{/book/{id} (id = ${book.getBookId()})}">
    <button type="submit">Delete</button>
</form>

</body>
</html>